.gif-detail{
	display: flex;
	margin: 20px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	text-align: center;

}

.gif-large {
	flex: 0 0 100%;
}

.gif-large img{
	height: 250px;
	margin: 10px;
}

.gif-large button{
	margin: 10px;
}

.share-area {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.back-area{
	margin-top: 10px;
}

.share-button{
	width: 32px;
	margin: 5px;
}


